html {
  box-sizing: border-box;
  background-color: #FFB532;
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Inline our ul for our menu */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 100%;
}

ul li { display: inline; margin: 0 .5rem; }
